Q1 creating one variable

In [1]:
s = "bliss "

In [2]:
s

'bliss '

In [3]:
type (s)

str

In [4]:
l = [ 1,2,3,4,7,8, "bliss","geology", True ,1+5j]

In [5]:
l

[1, 2, 3, 4, 7, 8, 'bliss', 'geology', True, (1+5j)]

In [6]:
type (l)

list

In [7]:
k = 86.65

In [8]:
k

86.65

In [9]:
type(k)

float

In [10]:
T = (20 , "sk",22.2,[10,20,30])

In [11]:
T

(20, 'sk', 22.2, [10, 20, 30])

In [12]:
type (T)

tuple

Q2. Given are some following variables containing data:

In [13]:
var1 = ''

var2 = '[ DS , ML , Python]'

var3 = [ 'DS' , 'ML' , 'Python' ]

var4 = 1.

In [14]:
type(var1)

str

In [15]:
type(var2)

str

In [16]:
type(var3)

list

In [17]:
type(var4)

float

Q3 use of the operators

division "/"

In [18]:
a = 100/2

In [19]:
a

50.0

percentage  "%"

In [20]:
3%2

1

 division flooor number "//"

In [21]:
25//5

5

power operation " ** "

In [22]:
25**5

9765625

Q4 list of length 10 multiple types data using for loop print

In [23]:
l = [ 22,34,56, 78, 22.3 ,0.008, "karna","hello ",False, True, 1+8j]

In [24]:
for k in l:
    print(k)

22
34
56
78
22.3
0.008
karna
hello
False
True
(1+8j)

Q5 using while loop verif if number A divisiable by B if yes how many times

In [25]:
n = 625
i = 25
count=0
while n % i ==0:
    count +=1
    n /=i
    print(" The number 625 is divisiable by 25")
    print("It can be divided", count , "times.")

 The number 625 is divisiable by 25
It can be divided 1 times.
 The number 625 is divisiable by 25
It can be divided 2 times.

 Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is 
divisible by 3 or not.

In [26]:
l=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
l1=[]
l2=[]
for i in l:
    if i%3==0:
        l1.append(i)
    else:
            l2.append(i)
l1

[3, 6, 9, 12, 15, 18, 21, 24]

In [27]:
l2

[1, 2, 4, 5, 7, 8, 10, 11, 13, 14, 16, 17, 19, 20, 22, 23, 25]

Q7. What do you understand about mutable and immutable data types? Give examples for both showing 
this property.

* mutable functon are the function which can be alterd  
  example : list

In [28]:
f = [1,2,3,4,5,6]

In [29]:
f

[1, 2, 3, 4, 5, 6]

In [30]:
f[1] = 7

In [31]:
f

[1, 7, 3, 4, 5, 6]

* Immutable data types are types which cannot be altered
* example : Tuple

In [32]:
a = (1,2,3,4,5,6)

In [33]:
a

(1, 2, 3, 4, 5, 6)

In [34]:
a[2] = 3

TypeError: 'tuple' object does not support item assignment